

.buttonWithIcon{

    display: grid;
    align-items: center;
    grid-template-columns: 30px 1fr;
    gap: 10px;


}

.iconContainer{

 width: 24px;
 height: 24px;

}


.buttonWithIcon svg{

    height: inherit;
    width: inherit;
}