

.ButtonIcon{

    background-color: transparent;

}

.iconContainer{

 /* width: 30px;
 height: 30px; */

}

.rounded{
    border-radius: 50%;
}


.ButtonIcon svg{

    height: inherit;
    width: inherit;
}



/*------Variants----*/


.small{

    padding: var(--padding-sm);

    width: 20px;
    height: 20px;

}


.medium{

    padding: var(--padding-md);

    width: 24px;
    height: 24px;

}


.large{

    padding: var(--padding);

    width: 30px;
    height: 30px;

}

