

.ButtonIcon{

    background-color: transparent;

}

.iconContainer{

 width: 30px;
 height: 30px;

}

.rounded{
    border-radius: 50%;
}


.ButtonIcon svg{

    height: inherit;
    width: inherit;
}