.navbar {
    height: 100%;
    width: 250px;
    justify-self: end;
    border-radius: 1rem;
    max-width: 100%;
}


.navbarList {

    justify-items: center;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    height: 100%;
    width: 100%;

    /* gap: calc(0.5*var(--app-gap)); */
}

.bottomnav{

    background: #ffffff70;
    position: fixed;
    bottom: 10px;
    height: 60px;
    left: 0px;
    right: 0px;
    margin: 0 auto;
    display: block;
    backdrop-filter: saturate(180%) blur(20px);
    box-shadow: #00000014 0px 12px 13px 2px;

}

@media all and (min-width: 992px) {

    .bottomnav{

        display: none;

    }

}



