.paper {
    box-shadow: none;
    border-radius: var(--border-radius);
    overflow: hidden;

    height: fit-content;
}


@media all and (min-width: 992px) {

    .paper {
        box-shadow: var(--box-shadow);}

}
