.card{


    width: fit-content;
    min-width: 300px;
    min-height: 100px;

}

.cardImage{

    max-width: 300px;
    height: auto;
    border-radius: var(--border-radius)  var(--border-radius) 0px 0px;

}

.cardBody{

    padding: var(--padding);
    display: grid;
    gap: var(--app-gap);

}