.sectionHeader {

    display: grid;
    grid-template-columns: auto 1fr;
    gap: var(--app-gap);
    align-items: center;
    
}
/* 

.title:after,
.title:before {


content:"\00a0\00a0\00a0\00a0\00a0";
text-decoration:line-through;


} */
