.sectionHeader {

    display: grid;
    grid-template-columns: auto 1fr;
    gap: var(--app-gap);
    align-items: center;
    margin-bottom: calc(0.5 * var(--margin));
}


.buttonContainer{


    justify-self: right;

}
/* 

.title:after,
.title:before {


content:"\00a0\00a0\00a0\00a0\00a0";
text-decoration:line-through;


} */


/* Large devices (laptops/desktops, 992px and up) */
@media all and (min-width: 992px) {

    .buttonContainer{

        justify-self: left;
    }
    
    
}