.card{

    background: url(https://besthqwallpapers.com/Uploads/9-10-2017/23332/thumb2-hyundai-accent-2018-rear-view-sedan-red-accent.jpg) center center / cover no-repeat;
    width: 300px;
    height: 100%;
    border-radius: var(--border-radius);
    padding: var(--padding);
    box-sizing: border-box;
    display: inline-block;
    margin-right: var(--margin);
}

.card:last-child{

    margin: 0px;
}