.postCard{

    /* width: fit-content; */
    height: fit-content;  /*---((NOTE)) change in api might break other places----*/

    border-radius: var(--border-radius);
    position: relative;


    /*---Causes really odd bug for small vheight" ---*/ /*---((NOTE))----*/
    max-height: 100vh;

    display: grid;

    justify-content: center;

    text-align: left;

}

.postControls{

    position: absolute;

    bottom: 0px;
    left: 0px;
    right: 0px;

    /* z-index: 2; */

    padding: 1rem;

    background: #ffffffe3;

    display: grid;
    gap: var(--app-gap);

    opacity: 0;
    transition: opacity var(--speed) cubic-bezier(0.6, -0.28, 0.735, 0.045);

}

.postOverlay{

    position: absolute;
    top: 0px;
    bottom: 0px;
    background: transparent;
    height: 100%;
    width: 100%;


    z-index: 1;
}

.title{

    text-overflow: ellipsis;
    overflow: hidden; 

    white-space: nowrap;

    color: black;
}


.postControlButtons{

    justify-self: end;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    gap : var(--app-gap)

}


/*---------Interactions-------*/

.postCard:hover{

    cursor: pointer;

}


.postCard:hover >.postControls{

    opacity: 1;

    /* cursor: default; */

}

/*

when an element within postCard (the parent) is focused: 
Make opacity = 1 for .postControls

*/

.postCard:focus-within >.postControls{ 

    opacity: 1;

}