.signRegContainer {



        display: grid;

        text-align: center;

        justify-items: center;

        align-items: center;

        /* grid-template-columns: 1fr; */


                grid-template-areas:
                "b b b b b"
                "a a a a a";



        height: 100vh;


        background: white;


}





@media only screen and (min-width: 992px) {

        .signRegContainer {


                grid-template-areas:
                "a a b b b"
                "a a b b b";

                width: 100%;

        
        }
    
    }
