.button{

    /* width: 100%; */
    min-width: 100px;
    padding: var(--padding);
    border-radius: var(--border-radius);
    font-size: 1rem;
    text-align: center;
}



.primary{

    background-color: var(--bg-primary-color);
    color: var(--overlay-or-button-text-color);
    box-shadow: var(--box-shadow);

}

.secondary{

    background-color: transparent;
    color: var(--bg-primary-color);
    border: var(--border);
    

}

.terinary{

    background-color: transparent;
    color: var(--title-color);
    box-shadow: var(--box-shadow);
}

.link{

    background-color: transparent;
    color: var(--title-color);
    box-shadow: none;
}


.rounded{

    border-radius: 50%;
}
/*--------Interactions-----------*/

/*---Hover---*/


.primary:hover {
    
    background-color: green;

}


/*---Pressed or active (background change or wave effect)---*/

.primary:active {
    
    background-color: red;

}


/*---focus (outline change)---*/

/*---Disabled (background change, border change, box shadow removed + other interactions disabled)---*/

button:disabled,
button[disabled]{
    color: rgba(0, 0, 0, 0.26);
    box-shadow: none;
    opacity: 0.8;
}
button:disabled:hover,
button[disabled]:hover{
 cursor: default;
 pointer-events: none;
}



button.primary:disabled ,
button.primary[disabled]{

    background-color: rgb(149 149 149 / 12%);
}

button.secondary:disabled ,
button.secondary[disabled]{

    background-color: transparent;
    border-color:  rgba(0, 0, 0, 0.12);
}


button.terinary:disabled ,
button.terinary[disabled]{

    background-color: transparent;
    border-color:  rgba(0, 0, 0, 0.12);
}


/*--------Media Queries-----------*/

@media all and (min-width: 768px) {

    .button{
        width: fit-content;
    }
}


