.button{

    width: 100%;
    min-width: 100px;
    padding: var(--padding);
    border-radius: var(--border-radius);
    font-size: 1rem;
    text-align: center;
}

.primary{

    background-color: var(--bg-primary-color);
    color: var(--overlay-or-button-text-color);
    box-shadow: var(--box-shadow);

}

.secondary{

    background-color: transparent;
    color: var(--bg-primary-color);
    border: var(--border);
    

}



@media all and (min-width: 768px) {

    .button{
        width: fit-content;
    }
}


