.image{

    max-width: 100%;
    border-radius: inherit ;
    height: auto;
    display: block;



    object-fit: cover;
    /* vertical-align: middle; */
}

.modalImage{

    max-height: 80vh

}

.feedImage{

    width: 300px;
    height: 300px;

}

.profile{

    width: 100px;
    height: 100px;
    object-fit: cover;
}


.post{

    width: 50px;
    height: 50px;

    object-fit: cover;
}

.rounded{

    border-radius: 50%;

}