.image{

    max-width: 100%;
    border-radius: inherit ;
    height: auto;
    display: block;


    width: 300px;
    height: 300px;
    object-fit: cover;
    /* vertical-align: middle; */
}

.modalImage{

    max-height: 80vh

}