/*---- This style sheet is mobile first  ----*/

/*-----Lab----*/

/* 
    
    box-shadow: 0 3px 6px -4px rgba(0,0,0,0.12), 0 6px 16px 0 rgba(0,0,0,0.08), 0 9px 28px 8px rgba(0,0,0,0.05);
    transition: color .3s;

    */

/*-----Variables------*/

:root {
    --page-color: #fff;

    /*--Background colors--*/

    --bg-primary-color: #6200ee;
    --bg-accent-color: #ef64d9;
    --bg-overlay-color: rgb(0 0 0 / 88%);

    /*--Title colors--*/

    --title-color: rgba(0, 0, 0, 0.9);
    --paragraph-color: rgba(0, 0, 0, 0.7);
    --overlay-or-button-text-color: rgb(255, 255, 255);

    /*-- Result colors--*/
    --success-bg-color: #f6ffed;
    --success-accent-color: #b7eb8f;

    --warning-bg-color: #fffbe6;
    --warning-accent-color: #ffe58f;

    --error-bg-color: #fff2f0;
    --error-accent-color: #ffccc7;

    --info-bg-color: #e6f7ff;
    --info-accent-color: #91d5ff;




    /*-- State colors--*/
    --bg-disabled-color: rgba(0, 0, 0, 0.12);

    --title-disabled-color: rgba(0, 0, 0, 0.12);

    /*-- Font sizes--*/

    --font-size: 1rem;
    --font-size-x2: 2em;

    /*-- Box shadows--*/

    --box-shadow: rgb(235, 235, 235) -1px 1px 13px 0px;

    /*-- Filter --*/

    --backdrop-filter: saturate(180%) blur(20px);

    /*-- Borders --*/

    --border: 1px solid var(--bg-primary-color, #6200ee);
    --border-radius: 10px;
    --border-radius-x2: 20px;

    /*-- Padding and Margin --*/

    --padding: 1rem;
    --margin: 1rem;

    --padding-sm: 0.5rem;
    --padding-md: 0.75rem;

    /*-- Font family --*/

    --font-family: sans-serif, Arial, Helvetica;

    /*-- Speed --*/

    --speed: 300ms;

    /*-- Gap layout and elements --*/

    --app-gap: 1rem;
    --layout-gap: 2rem;

    /*-- Heights --*/

    --header-height: 4rem;
    --footer-height: 4rem;
    --button-height: 55px;

    /*-- Limits (for breakpoints and more) --*/

    --min-page-width: 19rem;
    /*--- 320px or the width of the smallest device - a margin of safety = 304---*/
    --max-page-width: 120rem;
    /*-- 1920px or the width ----*/
    --min-post-width: var(--min-page-width);
    /*--- 288---*/

    --desktop: 992px;


    --max-post-height: 100vh;

    /*------Z -index ------*/

    --header: 2;
    --tool-tip: 4;

    --modal: 10;

}

/*-----Generic------*/

html {
    font-size: 100%;
    box-sizing: border-box;
    font-family: var(--font-family, sans-serif, Arial, Helvetica);
    height: 100vh;
}

body,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
button {
    margin: 0px;
    padding: 0px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--title-color);
}

p,
span {
    color: var(--paragraph-color);
}

button {
    border: none;
}

button:hover {
    cursor: pointer;
}

/*-----Utility classes ------*/

._d-none {
    display: none;
}

._d-block {
    display: block;
}

._d-inline {
    display: inline;
}

._d-inline-block {
    display: inline-block;
}

._highlight {
    background-color: var(--highlight-color);
    color: var(--paragraph-color);
}


._center {
    text-align: center;
}

/*-----Custom classes------*/

#App {
    /* 
    display: grid;
    gap: var(--app-gap); */
    /* min-height: ; */
}

._layout {
    display: grid;
    gap: var(--layout-gap);
    /* justify-content: center; */
    /* 
    width: 98%;

    min-width: var(--min-page-width);
    max-width: var(--max-page-width); */

    /* min-height: calc(100vh - (var(--footer-height) + var(--header-height))); */
}

._container {

    width: 98%;

    margin: auto;

    min-width: var(--min-page-width);
    max-width: var(--max-page-width);
}

#_main {
    min-height: calc(100vh - 80px);
    margin-top: var(--header-height);
    margin-bottom: 1rem;
}

/*-----Media Queries------*/

/* Small devices (portrait tablets and large phones, 600px and up) */
@media all and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media all and (min-width: 768px) {
    ._container {
        width: 80%;
        /* justify-content: start; */
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media all and (min-width: var(--desktop)) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media all and (min-width: 1200px) {}

/*----------Libraries-----------*/

/*--React Overlay--*/

.ReactModal__Overlay {
    opacity: 0;
    transition: opacity var(--speed) ease-in-out;

}

.ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModal__Overlay--before-close {
    opacity: 0;
}

/*--React Toastify--*/

.Toastify__toast {
    color: black;
}

.Toastify__toast--default {
    /* color: var(--bg-primary-color); */
}

.Toastify__toast--info {
    background-color: white;
}

.Toastify__toast--success {
    background-color: #caffcc !important;
}

.Toastify__toast--warning {
    background-color: var(--warning-bg-color);
}

.Toastify__toast--error {
    background-color: var(--error-bg-color);
}

.Toastify__toast-body {}






.headroom {
    top: 0;
    left: 0;
    right: 0;
    zIndex: 1;
}

.headroom--unfixed {
    position: relative;
    transform: translateY(0);
}

.headroom--scrolled {
    transition: transform 200ms ease-in-out;
}

.headroom--unpinned {
    position: fixed;
    transform: translateY(-100%);
}

.headroom--pinned {
    position: fixed;
    transform: translateY(0%);
}

/*------------------------------*/