/*---- This style sheet is mobile first  ----*/

/*-----Variables------*/


:root {

    --bg-primary-color: #6200EE;
    --bg-accent-color: #ef64d9;

    --title-color: rgba(0, 0, 0, 0.9);
    --paragraph-color: rgba(0, 0, 0, 0.7);
    --overlay-or-button-text-color: rgb(255, 255, 255);

    --success-bg-color: #e6f7ff;
    --success-accent-color: #91d5ff;

    --bg-disabled-color: rgba(0, 0, 0, 0.12);
    --titel-disabled-color: rgba(0, 0, 0, 0.12);
    --highlight-color : yellow;

    --font-size: 1rem;
    --font-size-x2: 2em;

    --box-shadow: rgb(235, 235, 235) -1px 1px 13px 0px;
    --backdrop-filter: saturate(180%) blur(20px);

    --border: 1px solid var(--bg-primary-color, #6200EE);
    --border-radius: 10px;

    --padding: 1rem;
    --margin: 1rem;

    --font-family: sans-serif, Arial, Helvetica;
    --speed: 300ms;

    --app-gap: 1rem;
    --layout-gap: 2rem;

    --header-height: 40px;
    --footer-height: 40px;


    --min-page-width: 20rem; /*--- 320px or the width of the smallest device---*/
    --max-page-width : 120rem /*-- 1920px or the width ----*/
}



/*-----Generic------*/


html{

    font-size: 100%;
    box-sizing: border-box;
    font-family: var(--font-family, sans-serif, Arial, Helvetica);
    height: 100vh;
}


body,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
button {
    margin: 0px;
    padding: 0px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6{

    color: var(--title-color);
}

p,
span{

    color: var(--paragraph-color);
}

button{
    border:none;
}

button:hover{

    cursor: pointer;
}
/*-----Utility classes ------*/

._d-none{
    display: none;
}

._d-block{
    display: block;
}

._d-inline{
    display: inline;
}

._d-inline-block{
    display: inline-block;
}

._highlight{

    background-color: var(--highlight-color);
    color: var(--paragraph-color);

}

/*-----Custom classes------*/

#App{

    display: grid;
    gap: var(--app-gap);
    /* min-height: ; */

}


._layout{

    display: grid;
    gap: var(--layout-gap);
    justify-content: center;

    width: 95%;


    min-width: var(--min-page-width);
    max-width: var(--max-page-width);

    margin: auto;
    /* min-height: calc(100vh - (var(--footer-height) + var(--header-height))); */
}


/*-----Media Queries------*/

/* Small devices (portrait tablets and large phones, 600px and up) */
@media all and (min-width: 600px) {


}

/* Medium devices (landscape tablets, 768px and up) */
@media all and (min-width: 768px) {

    ._layout{
        width: 80%;
        justify-content: start;

    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media all and (min-width: 992px) {


}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media all and (min-width: 1200px) {


}
