/*---- This style sheet is mobile first  ----*/

/*-----Lab----*/

/* 
    
    box-shadow: 0 3px 6px -4px rgba(0,0,0,0.12), 0 6px 16px 0 rgba(0,0,0,0.08), 0 9px 28px 8px rgba(0,0,0,0.05);
    transition: color .3s;

    */


/*-----Generic------*/

html {
    font-size: 100%;
    box-sizing: border-box;
    font-family: var(--font-family, sans-serif, Arial, Helvetica);
    height: 100vh;
}
*{

    box-sizing: border-box;
}

body,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
button {
    margin: 0px;
    padding: 0px;
}

ul {
    list-style-type: none;
}

a {
    /* text-decoration: none; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--title-color);
}

h1{

    font-size: var(--heading-1);
}

p,
span {
    color: var(--paragraph-color);
}

button {
    border: none;
}

button:hover {
    cursor: pointer;
}

/*-----Utility classes ------*/

._d-none {
    display: none;
}

._d-block {
    display: block;
}

._d-inline {
    display: inline;
}

._d-inline-block {
    display: inline-block;
}

._highlight {
    background-color: var(--highlight-color);
    color: var(--paragraph-color);
}


._center {
    text-align: center;
}

._bordered{

    border: 1px solid var(--border-color);

}


/*-----Custom classes------*/

#App {
    /* 
    display: grid;
    gap: var(--app-gap); */
    /* min-height: ; */

    min-width: 300px;
}

._layout {
    display: grid;
    gap: var(--layout-gap);
    /* justify-content: center; */
    /* 
    width: 98%;

    min-width: var(--min-page-width);
    max-width: var(--max-page-width); */

    /* min-height: calc(100vh - (var(--footer-height) + var(--header-height))); */
}

._container {

    width: 95%;

    margin: auto;

    min-width: var(--min-page-width);
    max-width: var(--max-page-width);
}

._fullwidth_on_mobile{

    width: 100%;
}

._fullwidth_on_desktop{

}

#_main {
    min-height: calc(100vh - 80px);
    margin-top: var(--header-height);
    margin-bottom: 1rem;
}


.leftSide{   grid-area: a; width: 100%; } /* ((NOTE)) Remove from here*/


.rightSide{  grid-area: b;  width: 100%; } /* ((NOTE)) Remove from here*/

/*-----Media Queries------*/

/* Small devices (portrait tablets and large phones, 600px and up) */
@media all and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media all and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media all and (min-width: 992px) {

    ._container {
        width: 80%;
        /* justify-content: start; */
    }
    ._fullwidth_on_desktop{
        width: 100%;
    }
    

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media all and (min-width: 1200px) {}

/*----------Libraries-----------*/

/*--React Toastify--*/

.Toastify__toast {
    color: black;
}

.Toastify__toast--default {
    /* color: var(--bg-primary-color); */
}

.Toastify__toast--info {
    background-color: white;
}

.Toastify__toast--success {
    background-color: #caffcc !important;
}

.Toastify__toast--warning {
    background-color: var(--warning-bg-color);
}

.Toastify__toast--error {
    background-color: var(--error-bg-color);
}

.Toastify__toast-body {}






.headroom {
    top: 0;
    left: 0;
    right: 0;
    z-index: var(--header);
}

.headroom--unfixed {
    position: relative;
    transform: translateY(0);
}

.headroom--scrolled {
    transition: transform 200ms ease-in-out;
}

.headroom--unpinned {
    position: fixed;
    transform: translateY(-100%);
}

.headroom--pinned {
    position: fixed;
    transform: translateY(0%);
}

/*------------------------------*/


.profileCover{

    background-position: center center;
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 1rem;

}

.profileInfo{
    display: grid;
    z-index: var(--non-overlapping-z);
    margin: auto;
    align-items: center;
    justify-content: center;
    /* background: hsla(0,0%,100%,.45);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px); */
    position: absolute;
    left: 0;
    right: 20%;
    left: 20%;
    top: 10%;
    bottom: 10%;
    border-radius: 1rem;
    z-index: var(--non-overlapping-z);
}


.headroom-wrapper {
    height: 50px!important;
}